* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(198, 188, 188, 0.742);

}
.wrapper {
    margin:  auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}
.block {
    background-color: wheat;
    border: 5px dashed #000;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
}
.task {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px;
}
.result {
    text-align: center;
    padding: 15px;
    background-color: red;
}